*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    padding: 10px;
    margin-bottom: 10px;
    background-color: gray;
    color: whitesmoke;
    height: 50px;
}

main{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 1fr;
    justify-content: space-between;
    gap: 20px;
}

#buscador{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    height: 100px;
    background-color: white;
}

#buscador > input{
    font-size: 1rem;
    padding: 2px;
}

#buscador > button{
    font-size: 1rem;
    background-color: snow;
    border-radius: 10px;
    border: 1px solid gainsboro;
}

#buscador > button:hover{
    background-color: rgb(179, 179, 179);
    cursor: pointer;
}

#main{
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: row;
    gap: 20px;
    justify-content: space-around;
}

.producto{
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.producto > img{
    width: 100%;
    border-radius: 10px;
}

.producto:hover{
    background-color: antiquewhite;
}



#filtro{
    padding: 10px;
    align-self: self-start;
    justify-self: end;
    border-radius: 10px;
    border: 1px solid rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    background-color: whitesmoke;
}

footer{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 150px;
    background-color: black;
    color: white;
    gap: 15px;
}

footer > h3{
    font-size: 2rem;
}